project1-sarmada/src/main/mule/project1-sarmada.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="479cfefb-fe60-40ed-aeca-75fc782f7308" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="project1-sarmadaFlow" doc:id="dfb0d324-953e-4d68-ab6a-c77a4260103e" >
		<http:listener doc:name="Listener" doc:id="f499f70f-49ce-4632-8c23-007e2387b92f" config-ref="HTTP_Listener_config" path="/test"/>
		<set-payload value='#["hello world"]' doc:name="Set Payload" doc:id="acbe4984-705b-415a-896d-728f03c0a6d0" />
	</flow>
	<flow name="project1-sarmadaFlow1" doc:id="1577fe27-22b2-42b2-82fb-4c98b1d6b46a" >
		<http:listener doc:name="Listener" doc:id="a8cec832-2a49-479d-937a-0468d148ac06" config-ref="HTTP_Listener_config" path="/search"/>
		<set-payload value='#["got result"]' doc:name="Set Payload" doc:id="580e7894-acd6-4813-9a24-10a7e4b8ff10" />
	</flow>
	<flow name="project1-sarmadaFlow2" doc:id="e824b1cd-82fa-4841-bb71-2f1f2e6cc5e6" >
		<http:listener doc:name="Listener" doc:id="f884b115-4128-4b3d-b693-ed0c93bcddc5" config-ref="HTTP_Listener_config" path="/dosearch"/>
		<set-payload value='#["new result"]' doc:name="Set Payload" doc:id="90eb1d3b-4da3-4874-9e20-6b5d34d40d0f" />
	</flow>
	<flow name="project1-sarmadaFlow3" doc:id="872998be-5116-4d3b-95b2-9e17ef6e9f30" >
		<http:listener doc:name="Listener" doc:id="828315cf-dfc7-4fdb-bb25-39d39d777cbf" config-ref="HTTP_Listener_config" path="/news"/>
		<set-payload value='#["news"]' doc:name="Set Payload" doc:id="591629ce-6db3-4c68-8fcb-232d26cb95fc" />
	</flow>
</mule>
